body {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

body::after, .callout-backdrop::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    -webkit-filter: brightness(var(--Background-Darkness)) blur(var(--background-blur));
    filter: brightness(var(--Background-Darkness)) blur(var(--background-blur));
}

body::after {
    z-index: -9999;
}

.app, .layers, .layer {
    background: transparent !important;
}

.callout-backdrop {
    background-color: transparent !important;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.app, body::after {
    -webkit-animation: cv-fade 5s ease-out;
    animation: cv-fade 5s ease-out;
}

@-webkit-keyframes cv-fade {
    0% {
        opacity: 0;
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }
    70% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes cv-fade {
    0% {
        opacity: 0;
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }
    70% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        opacity: 1;
    }
}

#app-mount::before {
    content: "";
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    pointer-events: none;
    -webkit-animation: cv-bg 5.5s ease-in-out;
    animation: cv-bg 5.5s ease-in-out;
}

@-webkit-keyframes cv-bg {
    0% {
        background-color: rgba(0, 0, 0, .5);
    }
    72% {
        background-color: rgba(0, 0, 0, .5);
    }
    100% {
        background-color: transparent;
    }
}

@keyframes cv-bg {
    0% {
        background-color: rgba(0, 0, 0, .5);
    }
    72% {
        background-color: rgba(0, 0, 0, .5);
    }
    100% {
        background-color: transparent;
    }
}

#app-mount::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #ff6000;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    line-height: 100vh;
    opacity: 0;
    z-index: 9999;
    pointer-events: none;
    -webkit-animation: cv-init 5s ease-in-out;
    animation: cv-init 5s ease-in-out;
}

@-webkit-keyframes cv-init {
    0% {
        content: var(--load1);
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    25% {
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    30% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    45% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    49% {
        content: var(--load1);
        opacity: 0;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    50% {
        content: var(--load2);
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    55% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    70% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    74% {
        content: var(--load2);
        opacity: 0;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    75% {
        content: var(--load3);
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    80% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    95% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    99% {
        content: var(--load3);
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    100% {
        content: "";
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes cv-init {
    0% {
        content: var(--load1);
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    25% {
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    30% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    45% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    49% {
        content: var(--load1);
        opacity: 0;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    50% {
        content: var(--load2);
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    55% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    70% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    74% {
        content: var(--load2);
        opacity: 0;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    75% {
        content: var(--load3);
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    80% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    95% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    99% {
        content: var(--load3);
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    100% {
        content: "";
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}


:root {
    --load1: "Привет! Спасибо, что используешь мою тему!";
    --load2: "Пожалуйста, поставьте звезду репозиторию!";
    --load3: "by PM-Kirill";
}
