/**
 * @name PM-Theme
 * @author PM-Kirill
 * @website https://pm-kirill.fun/
 * @authorLink https://github.com/PM-Kirill
 * @authorId 1081189420780240917
 * @version 1.1
 * @invite ap6e7Q7c7R
 * @description Лучшая тема Discord в ораньжевом акценте.
 * @source https://github.com/PM-Kirill/PM-Theme.github.io
 * @updateUrl https://github.com/PM-Kirill/PM-Theme.github.io/main/PM-Theme.css
*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
	--font: 'figtree';
	--corner-text: 'PM-Theme';
	--online-indicator: #23a55a;
    --dnd-indicator: #f13f43;
    --idle-indicator: #f0b232;
    --streaming-indicator: #593695;
	--accent-1: hsl(25, 70%, 60%);
    --accent-2: hsl(25, 70%, 48%);
    --accent-3: hsl(25, 70%, 42%);
    --accent-4: hsl(25, 70%, 36%);
    --accent-5: hsl(25, 70%, 30%);
    --mention: hsla(25, 80%, 52%, 0.1);
    --mention-hover: hsla(25, 80%, 52%, 0.05);
	--text-0: white;
    --text-1: var(--text-2);
    --text-2: hsl(0, 0%, 70%);
    --text-3: hsl(0, 0%, 60%);
    --text-4: hsl(0, 0%, 50%);
    --text-5: hsl(0, 0%, 40%);
	--bg-1: hsl(25, 10%, 15%);
    --bg-2: hsl(25, 10%, 12%);
    --bg-3: hsl(25, 10%, 9%);
    --bg-4: hsl(25, 10%, 5%);
    --hover: hsla(25, 15%, 15%, 0.1);
    --active: hsla(25, 15%, 15%, 0.2);
    --message-hover: hsla(25, 10%, 8%, 0.1);
	--spacing: 12px;
	--list-item-transition: 0.2s ease;
	--unread-bar-transition: 0.2s ease;
	--moon-spin-transition: 0.4s ease;
	--icon-spin-transition: 1s ease;
	--roundness-xl: 22px;
	--roundness-l: 20px;
	--roundness-m: 16px;
	--roundness-s: 12px;
	--roundness-xs: 10px;
	--roundness-xxs: 8px;
	--discord-icon: none;
	--moon-icon: block;
	--moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg');
	--moon-icon-size: auto;
	--login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4);
	--green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43);
	--blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2);
}

:root {
	--font-primary: var(--font), 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--font-display: var(--font), 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:root.reduce-motion {
	--list-item-transition: none;
	--unread-bar-transition: none;
	--moon-spin-transition: none;
	--icon-spin-transition: none;
}

#app-mount .container__7e23c,
.privateChannels__9b518,
#app-mount .container_debb33,
.members__573eb,
.member_aa4760,
.searchResultsWrap__2e184,
.searchHeader__4d70e,
.chat__52833.container_d4d35b,
#app-mount .panels__58331 > div,
.container_e1958d,
.sidebarRegionScroller__8113e,
#app-mount .container__03ec9,
#app-mount .header__71942,
#app-mount .container__6b2e5,
.chat__52833.background__2fff8,
#app-mount .scrollerContainer_dda72c,
.shop_b31ed2,
.wrapper__6bf2d.minimum__7f356,
.container_ec5ce2, .container__33507,
#app-mount .uploadModal__6eb75,
.uploadModal__6eb75 .footer_f06dbb {
	background: var(--bg-4);
}

.mainCard__0ec2c,
.navRow_bb8efc[data-theme=dark] {
	background: var(--bg-3);
}

.folderIconWrapper__11165[style="background-color: rgba(88, 101, 242, 0.4);"] {
	background: var(--bg-3) !important;
}

.folder__17546.hover__043de,
#app-mount .outer_a41cf3.interactive__46c44:hover, #app-mount .outer_a41cf3.active__76f42 {
	background: var(--bg-2);
}

#app-mount .searchAnswer__2ccaf,
#app-mount .searchFilter_dbda51 {
	background: var(--bg-1);
}

.newChannel__1bbcf {
	background: var(--bg-1) !important;
}

.chat__52833,
.sidebar_e031be,
.privateChannels__9b518 .scroller__89969,
#app-mount .innerHeader_ccbd77:after,
.attachedBars_c1606a {
	background: none;
}

.selected__987e6 .header__77c95, .clickable__1383f .header__77c95:hover {
	background: var(--message-hover);
}

.message_ccca67.replying__38514.selected_e3bc5d, .mouse-mode.full-motion .message_ccca67.replying__38514:hover {
	background: var(--background-message-highlight-hover);
}

div.message_ccca67.replying__38514::before {
	background: var(--text-2);
}

.activeButtonChild__58171 {
	color: var(--accent-2);
}

.container_debb33,
.numberBadge__40d6f,
.toolbar__62fb5 {
	--status-danger: var(--accent-2);
}

.expandedFolderIconWrapper__324c1 > svg[style="color: rgb(88, 101, 242);"] {
	color: var(--accent-3) !important;
}

.divider__855e3,
.mention_dd733a,
.mentionsBar__7d867 {
	--status-danger: var(--accent-3);
}

.message_ccca67.mentioned_fa6fd2:before,
.botTagOP_fd6360 {
	background: var(--accent-3);
}

.container__2ed72.checked__36fdc {
	background: var(--accent-3) !important;
}

.mention_dd733a:active {
	background: var(--accent-4);
}

path[fill='rgba(35, 165, 90, 1)'] {
	fill: var(--accent-3);
}

path[fill='var(--white-500)'] {
	fill: var(--text-0) !important;
}

.numberBadge__40d6f,
.newMessagesBar__8b272 .barButtonBase__5e4cf,
.botTagRegular_fc4b4a,
.endCap__95d53,
.lookFilled__950dd.colorBrand__27d57,
.lookFilled__950dd.colorBrand__27d57 .defaultColor__77578,
.lookFilled__950dd.colorBrandNew__8872c,
.lookFilled__950dd.colorGreen__75c93,
.lookFilled__950dd.colorRed__5a617,
.lookFilled__950dd.colorYellow__818c3,
.bar_edc096,
.wrapper__8436d:hover .childWrapper_a6ce15,
.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
.colorDefault_e361cf.focused_dcafb9,
.colorDefault_e361cf.focused_dcafb9 .caret_ce50ce,
.colorDefault_e361cf:active:not(.hideInteraction__0b569),
.colorDefault_e361cf:active:not(.hideInteraction__0b569) .caret_ce50ce,
.tabBar__73938 .addFriend__4c0a2.addFriend__4c0a2.addFriend__4c0a2,
#app-mount .button__33db6,
.interactive:hover,
.uploadIcon_d35ec2,
.focused_a7ad64 .userMenuUsername_d2fe10 .userMenuText_b1842d,
.dots_a97068,
.lookOutlined__014b5.colorWhite__0033e,
.header__8f369,
.categoryItem__0608f.selectedCategoryItem__3e361,
.live_b195a5,
#app-mount .activeButton__70b70,
#app-mount .tooltipBrand__68214,
.button_b82d53.buttonColor__7bad9.buttonActive_ae686f,
.button_b82d53.buttonColor__7bad9.buttonActive_ae686f:hover,
.vcd-screen-picker-radio[data-checked="true"] .defaultColor__30336,
.icon__493c1 {
	color: var(--text-0);
}

#app-mount .button__33db6, .theme-light .button__33db6 {
	border-color: var(--text-0);
}

#app-mount .button__33db6:hover {
	border-color: var(--text-0);
	background-color: var(--text-0);
}

.container__2ed72 {
	background: var(--bg-1) !important;
}

.container__2ed72.checked__36fdc > .slider__41d94 > rect,
.userMenuItem__7b29e path[fill="var(--white-500)"],
.colorDefault_e361cf.focused_dcafb9 path {
	fill: var(--text-0);
}

.closeIcon__967e7 path {
	fill: currentColor;
}

.container__2ed72 > .slider__41d94 > rect {
	fill: var(--text-1);
}

.menu__13d0c .menuItemFocused__7beab {
	color: var(--text-3);
}

.menu__13d0c .menuItemFocused__7beab path {
	fill: var(--text-3);
}

.mini_d6d84c .grabber_e3daf3 {
	margin-top: 4px;
	border-width: 1px;
}

.grabber_e3daf3 {
	border-width: 0;
}

.button_b82d53.buttonColor__7bad9 {
	color: var(--text-4);
}

.button_b82d53.buttonColor__7bad9:hover {
	background-color: var(--hover);
	color: var(--text-3);
}

.iconBadge__19638.isCurrentUserConnected__3bd70 {
	background-color: var(--bg-1);
	color: var(--text-1);
}

.bannerVisible_ef30fe .headerContent__6fcc7,
#app-mount .categoryText__1b8ff,
.searchTitle__533c3 {
	color: white;
}

.gifIcon__4c50e {
	background-color: white;
}

.controlIcon__73723 {
	color: var(--text-1);
	opacity: 0.6;
}

.controlIcon__73723:hover {
	opacity: 1;
}

::selection {
	background: var(--accent-4);
	color: var(--text-0);
}

.lookFilled__9c1ef.select_fe2671 {
	border: none;
}

.checkbox_fcf2ad {
	border-color: var(--text-4) !important;
}

.newBadge__40645 {
	color: var(--accent-2);
	line-height: 16px;
}

#app-mount .header_aac16f {
	box-shadow: none;
}

#app-mount .textContentFooter_e03480 {
	background: none;
}

rect[fill='#23a55a'],
svg[fill='#23a55a'] {
	fill: var(--online-indicator) !important;
}

.status__1c26d[style='background-color: rgb(35, 165, 90);'] {
	background-color: var(--online-indicator) !important;
}

rect[fill='#f0b232'],
svg[fill='#f0b232'] {
	fill: var(--idle-indicator);
}

.status__1c26d[style='background-color: rgb(240, 178, 50);'] {
	background-color: var(--idle-indicator) !important;
}

rect[fill='#f23f43'],
svg[fill='#f23f43'] {
	fill: var(--dnd-indicator);
}

.status__1c26d[style='background-color: rgb(242, 63, 67);'] {
	background-color: var(--dnd-indicator) !important;
}

rect[fill='#593695'],
svg[fill='#593695'] {
	fill: var(--streaming-indicator);
}

.status__1c26d[style='background-color: rgb(89, 54, 149);'] {
	background-color: var(--streaming-indicator) !important;
}

.container__048f4:last-child .icon_e26761 {
	background-color: #3ba55c;
	filter: var(--green-to-accent-3-filter);
}

.container__048f4:first-child .icon_e26761 {
	filter: var(--blurple-to-accent-3-filter);
}

.artwork__94141 {
	filter: var(--login-bg-filter);
}

.clipContainer_ab9cf6 {
	padding-top: 0;
	margin-top: 0;
}

.title_d4ba1a.themed_b152d4 {
	background: none;
}

.searchResultsWrap__2e184 {
	overflow: visible;
}

.chatContent_f087cb::before,
.membersWrap__5ca6b::before,
.searchResultsWrap__2e184::before,
.profilePanel_e2cafe::before,
.container_b92032::before {
	content: '';
	position: absolute;
	margin-top: -48px;
	background: var(--background-primary);
	width: 100%;
	height: 48px;
	border-radius: var(--roundness-xl) var(--roundness-xl) 0 0;
}

.wrapper__6bf2d.minimum__7f356 ~ .content__01e65 .container__93316::before {
	display: none;
}

.membersWrap__5ca6b {
	height: 100%;
}

a[href="https://support.discord.com"] {
	display: none;
}

.search__07df0 {
	order: 1;
	margin: 0 4px 0 12px;
}

.chat__52833:has(.searchResultsWrap__2e184) .searchBar__5a20a {
	width: 394px !important;
	margin-left: calc(var(--spacing) + 8px);
}

.chat__52833:has(.profilePanel_e2cafe) .searchBar__5a20a {
	width: 316px !important;
	margin-left: calc(var(--spacing) + 8px);
}

.chat__52833:has(.membersWrap__5ca6b) .searchBar__5a20a {
	width: 216px !important;
	margin-left: calc(var(--spacing) + 8px);
}

.base_c0676e {
	margin: 0 var(--spacing) var(--spacing) 0;
}

.sidebar_e031be,
.content__01e65 {
	gap: var(--spacing);
}

.sidebar_e031be {
	margin-right: var(--spacing);
}

.sidebar_e031be.hidden__3ab58 {
	margin-right: 0;
}

.resizeHandle_cc9d34 {
	width: var(--spacing);
}

.wrapper__6bf2d.fullScreen_b3f0af .callContainer__1477d {
	margin-top: var(--spacing);
}

.notice__5fd4c,
.wrapper__6bf2d.minimum__7f356 {
	margin-bottom: var(--spacing);
}

#vc-spotify-player,
.container_e1958d,
.panel_bd8c76 {
	padding: 10px;
}

.container__7e23c,
.panels__58331,
.privateChannels__9b518,
.container_bd15da,
.applicationStore__444b9,
#app-mount .container_d4d35b,
.shop_b31ed2,
.container_ec90d4,
.container__694a1,
#app-mount .callContainer__1477d,
.chat__52833,
.animatedContainer__0e828,
.notice__5fd4c,
.wrapper__6bf2d.minimum__7f356,
.wrapper__6bf2d.minimum__7f356 ~ .content__01e65,
.main_e0b3ac {
	border-radius: var(--roundness-xl);
	overflow: hidden;
}

.container__93316,
.chatContent_f087cb,
.container_f79ab4,
.members__573eb,
.searchResultsWrap__2e184,
.profilePanel_e2cafe,
.userPanelOuter_eb00b1,
.userPanelInner_f9edb8,
.userPanelInner_f9edb8::before,
.container_b92032 {
	border-radius: 0 0 var(--roundness-xl) var(--roundness-xl);
}

.messagesPopoutWrap__10dd1,
.container_f93da8,
.menu__088f7 .item__183e8d,
.userPopoutOuter__3884e,
.root_ba16f0,
.contentWrapper_e0bb2c,
.footer_e0b400,
.layerContainer_a2fcaa .root_a28985,
.uploadModal__6eb75 .footer_f06dbb {
	border-radius: var(--roundness-l);
}

.roundedBanner__16aa6,
.banner_b7f1fb {
	border-radius: calc(var(--roundness-l) - 4px) calc(var(--roundness-l) - 4px) 0 0;
}

.userPopoutInner_e90432:before,
.userProfileModalInner__99b1e:before {
	border-radius: calc(var(--roundness-l) - 4px);
}

.overlayBackground__2666e {
	border-radius: var(--roundness-s);
}

.menu__088f7,
.embed_cc6dae,
.mediaAttachmentsContainer__242e2,
.oneByOneGridSingle__8c6ef,
.imageContainer__1b5e9 .imageWrapper__178ee,
.markup_a7e664 code,
.itemCard_b64118,
.peopleListItem_dab480:hover,
.withTagAsButton_e22174:hover, .withTagless__058f8:hover,
.messageGroupWrapper__1fce2 {
	border-radius: var(--roundness-m);
}

.scrollableContainer_ff917f,
.channelTextArea_c2094b,
.select_fe2671,
.layout_bb8e67,
.interactive__0786a,
.container__17159,
.input_f27786,
.item_b7fb7e,
.item_b7fb7e .radioBar__70669 {
	border-radius: var(--roundness-s);
}

.select_fe2671.open_cd27aa {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.popout_a6e77f {
	border-radius: 0 0 var(--roundness-s) var(--roundness-s);
}

.banner_f13f1e {
	border-radius: var(--roundness-s) var(--roundness-s) 0 0;
}

.scrollableContainer_ff917f.hasConnectedBar__7d21e {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.replyBar_ed6afc {
	border-radius: var(--roundness-s) var (--roundness-s) 0 0;
}

.link_ddbb36,
.content__3b07e,
.side_b4b3f6 .item__48dda,
button.button__581d0,
.container__33507,
.container_ec5ce2,
.item__183e8,
.icon__493c1,
#vc-spotify-album-image,
.background__3b760,
.hoverButtonGroup__304b2,
.wrapper__4e6b6,
.previewChannelRowContent__9054b {
	border-radius: var(--roundness-xs);
}

.hoverButtonGroup__304b2 {
	top: 6px;
	right: 6px;
}

.wrapper__53064,
.searchBar__5a20a,
.searchBar__621ec .searchBarComponent__8f95f,
.topPill__63ad4 .item__48dda {
	border-radius: var(--roundness-xxs);
}

#app-mount .centerButton__8316e {
	border-radius: 50%;
}

.guilds__2b93a {
	background: var(--bg-4);
	border-radius: var(--roundness-xl);
	margin: 0 0 var(--spacing) var(--spacing);
}

.guilds__2b93a.hidden__7c832 {
	margin: 0;
}

#app-mount .scroller_de945b {
	padding: 12px 0;
}

.base_c0676e {
	margin-left: var(--spacing);
}

.guilds__2b93a::after ,
.membersWrap__5ca6b::after {
	content: '';
	position: absolute;
	background: linear-gradient(transparent 85%, var(--bg-4) 100%);
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	pointer-events: none;
	border-radius: 0 0 var(--roundness-xl) var(--roundness-xl);
}
.guilds__2b93a::before {
	content: '';
	position: absolute;
	background: linear-gradient(var(--bg-4) 0%, transparent 15%);
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	pointer-events: none;
	z-index: 1;
}
.childWrapper_a6ce15 {
	background: var(--bg-3);
}
.container_d1f8f5 > [style$='display: flex;'] > .guilds__2b93a {
	margin: 0;
}
.container_d1f8f5 > [style$='display: flex;'] {
	margin: 0 0 var(--spacing) var(--spacing);
}

.container_d1f8f5 {
	margin-top: var(--spacing);
}
.platform-win .container_d1f8f5 {
	margin-top: 0;
}

.platform-osx .wrapper__216eb {
    margin-top: 0;
}
.platform-osx .container_d1f8f5 {
    margin-top: 32px;
}


[class^='wordmarkWindows'] {
	padding: 4px var(--spacing);
}
[class^='wordmarkWindows'] > svg {
	display: none;
}
[class^='wordmarkWindows']::after {
	content: var(--corner-text);
	display: block;
	position: relative;
	height: 16px;
	line-height: 16px;
	font-family: var(--font);
	font-size: 13px;
	font-weight: 900;
	color: var(--text-5);
	transform: scaleX(1.2);
	margin-left: 6px;
}

[class^='typeWindows'] {
	height: calc(var(--spacing) + 8px);
}

[class^='winButton'] > svg {
	display: none;
}
[class^='winButton'] {
	background: none !important;
	top: 0;
	width: calc(var(--spacing) + 8px);
	height: calc(var(--spacing) + 8px);
	margin: -2px 4px 0px 0px;
}
[class^='winButtonClose'] {
	margin: -2px calc(var(--spacing) - 4px) 0px 0px;
}
[class^='winButton']::after {
	content: '';
	height: 12px;
	width: 12px;
	border-radius: 12px;
}
[class^='winButton']:hover::after {
	filter: brightness(0.8);
}
[class^='winButton']:active::after {
	transform: scale(0.9);
}
[class^='winButtonClose']::after {
	background-color: var(--dnd-indicator) !important;
}
[class^='winButtonMinMax']:nth-child(3)::after {
	background-color: var(--online-indicator) !important;
}
[class^='winButtonMinMax']:nth-child(4)::after {
	background-color: var(--idle-indicator) !important;
}

.childWrapper_a6ce15 > svg:not(.favoriteIcon__901fa) {
	display: var(--discord-icon);
}
.childWrapper_a6ce15:has(> svg:not(.favoriteIcon__901fa))::before {
	content: '';
	display: var(--moon-icon);
	position: absolute;
	width: 65%;
	height: 65%;
	background: var(--text-4);
	-webkit-mask-image: var(--moon-icon-url);
	-webkit-mask-size: var(--moon-icon-size);
	-webkit-mask-repeat: none;
}
.wrapper__8436d:hover .childWrapper_a6ce15::before {
	transition: background-color 0.15s ease-out, transform var(--moon-spin-transition);
	transform: rotate(0deg) scale(1);
}
.wrapper__8436d:hover > .childWrapper_a6ce15::before,
.wrapper__8436d.selected_ae80f7 > .childWrapper_a6ce15::before {
	background: var(--text-0);
	transform: rotate(-360deg) scale(0.8);
}
.lowerBadge_e89e22::before {
	content: '';
	display: block;
	position: absolute;
	width: 24px;
	height: 24px;
	transform: translate(-4px, -4px);
	z-index: -1;
	background: var(--bg-3);
	border-radius: 50%;
}
.divider__855e3 {
	border-width: 4px;
	border-radius: 4px;
}
.divider__855e3 .content__7191e {
	margin-top: -3px;
}
.endCap__95d53 {
	margin-top: -1px;
	padding-top: 2px;
}
.message_ccca67.mentioned_fa6fd2::before,
.replying__38514::before {
	width: 4px;
	border-radius: 4px;
}
.embedFull__14919 {
	border: 4px solid var(--bg-2);
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
	border-right-color: transparent !important;
}

#app-mount .app_b1f720 .base_c0676e {
	top: calc(var(--server-container) + var(--spacing)) !important;
}

.wrapper__612a5 .link_ddbb36 ,
.container_a48b21 ,
.channel__0aef5 ,
.side_b4b3f6 .item__48dda /* settings */ {
	transition: margin-left var(--list-item-transition);
}
.wrapper__612a5:hover .link_ddbb36,
.side_b4b3f6 .item__48dda:hover {
	margin-left: 10px;
}
.container_a48b21:hover,
.channel__0aef5:hover {
	margin-left: 18px;
}


button.button_ae40a4 {
	border-radius: 50%;
}
.button_ae40a4:last-child .contents__322f4 , 
.attachButton__56f98 .attachButtonInner__84c26 ,
.emojiButton_b63c38 .contents__322f4 ,
.closeButton__8177f ,
.contents__322f4 > .closeIcon__16020 {
	transition: transform var(--icon-spin-transition);
}
.button_ae40a4:last-child:hover .contents__322f4,
.attachButton__56f98:hover .attachButtonInner__84c26,
.emojiButton_b63c38:hover .contents__322f4,
.closeButton__8177f:hover,
.contents__322f4:hover > .closeIcon__16020 {
	transform: rotate(360deg);
}

.messagesWrapper_add28b {
	overflow: hidden;
}
.newMessagesBar__8b272 {
	top: -48px;
	height: 72px;
	transition: top var(--unread-bar-transition);
	background: none;
	box-shadow: none;
	border-radius: 0;
}
.newMessagesBar__8b272::before {
	content: '';
	background: var(--brand-experiment);
	box-shadow: var(--elevation-low);
	width: 100%;
	position: absolute;
	height: 32px;
	border-radius: var(--roundness-s);
}
.newMessagesBar__8b272:hover {
	top: -12px;
}
.top__81fa6 > .containerPadding_ca1052 {
	padding: 16px;
	margin-top: -40px;
	transition: margin-top var(--unread-bar-transition);
}
.top__81fa6:hover > .containerPadding_ca1052:hover {
	margin-top: -12px;
}
.bottom__53f5a > .containerPadding_ca1052 {
	padding: 16px;
	margin-bottom: -40px;
	transition: margin-bottom var(--unread-bar-transition);
}
.bottom__53f5a > .containerPadding_ca1052:hover {
	margin-bottom: -12px;
}
@import url('https://raw.githubusercontent.com/PM-KIRILL/PM-Theme.github.io/main/css/anim.css');

.theme-light {
	--text-link: var(--accent-5);
}
html.theme-light,
.theme-dark {
	--activity-card-background: var(--primary-700);
	--android-navigation-bar-background: var(--primary-830);
	--android-navigation-scrim-background: hsl(var(--primary-830-hsl) / 0.5);
	--android-ripple: hsl(var(--white-500-hsl) / 0.07);
	--background-accent: var(--bg-2);
	--background-floating: var(--bg-3);
	--background-mentioned: var(--mention);
	--background-mentioned-hover: var(--mention-hover);
	--background-message-automod: hsl(var(--red-400-hsl) / 0.05);
	--background-message-automod-hover: hsl(var(--red-400-hsl) / 0.1);
	--background-message-highlight: var(--active);
	--background-message-highlight-hover: var(--hover);
	--background-message-hover: var(--message-hover);
	--background-mobile-primary: var(--bg-4);
	--background-mobile-secondary: var(--primary-630);
	--background-modifier-accent: var(--hover);
	--background-modifier-accent-2: red;
	--background-modifier-active: var(--active);
	--background-modifier-hover: var(--hover);
	--background-modifier-selected: var(--active);
	--background-nested-floating: var(--primary-630);
	--background-primary: var(--bg-4);
	--background-secondary: var(--bg-3);
	--background-secondary-alt: var(--bg-3);
	--background-tertiary: var(--bg-3);
	--bg-backdrop: hsl(var(--black-500-hsl) / 0.7);
	--bg-backdrop-no-opacity: var(--black-500);
	--bg-base-primary: var(--primary-600);
	--bg-base-secondary: var(--primary-630);
	--bg-base-tertiary: var(--primary-660);
	--bg-mod-faint: var(--bg-4);
	--bg-mod-strong: hsl(var(--primary-500-hsl) / 0.54);
	--bg-mod-subtle: hsl(var(--primary-500-hsl) / 0.48);
	--bg-surface-overlay: var(--primary-800);
	--bg-surface-overlay-tmp: var(--primary-800);
	--bg-surface-raised: var(--primary-600);
	--black: var(--black-500);
	--blur-fallback: hsl(var(--primary-700-hsl) / 0.96);
	--blur-fallback-pressed: hsl(var(--primary-730-hsl) / 0.96);
	--border-faint: hsl(var(--white-500-hsl) / 0.03);
	--border-strong: hsl(var(--white-500-hsl) / 0.16);
	--border-subtle: hsl(var(--white-500-hsl) / 0.08);
	--bug-reporter-modal-submitting-background: hsl(var(--primary-800-hsl) / 0.6);
	--button-creator-revenue-background: var(--teal-430);
	--button-danger-background: var(--red-430);
	--button-danger-background-active: var(--red-530);
	--button-danger-background-disabled: var(--red-430);
	--button-danger-background-hover: var(--red-500);
	--button-outline-brand-background: hsl(var(--white-500-hsl) / 0);
	--button-outline-brand-background-active: var(--brand-560);
	--button-outline-brand-background-hover: var(--brand-500);
	--button-outline-brand-border: var(--brand-500);
	--button-outline-brand-border-active: var(--brand-560);
	--button-outline-brand-border-hover: var(--brand-500);
	--button-outline-brand-text: var(--white-500);
	--button-outline-brand-text-active: var(--white-500);
	--button-outline-brand-text-hover: var(--white-500);
	--button-outline-danger-background: hsl(var(--white-500-hsl) / 0);
	--button-outline-danger-background-active: var(--red-460);
	--button-outline-danger-background-hover: var(--red-430);
	--button-outline-danger-border: var(--red-400);
	--button-outline-danger-border-active: var(--red-430);
	--button-outline-danger-border-hover: var(--red-430);
	--button-outline-danger-text: var(--white-500);
	--button-outline-danger-text-active: var(--white-500);
	--button-outline-danger-text-hover: var(--white-500);
	--button-outline-positive-background: hsl(var(--white-500-hsl) / 0);
	--button-outline-positive-background-active: var(--green-530);
	--button-outline-positive-background-hover: var(--green-430);
	--button-outline-positive-border: var(--green-360);
	--button-outline-positive-border-active: var(--green-530);
	--button-outline-positive-border-hover: var(--green-430);
	--button-outline-positive-text: var(--white-500);
	--button-outline-positive-text-active: var(--white-500);
	--button-outline-positive-text-hover: var(--white-500);
	--button-outline-primary-background: hsl(var(--white-500-hsl) / 0);
	--button-outline-primary-background-active: var(--primary-430);
	--button-outline-primary-background-hover: var(--primary-500);
	--button-outline-primary-border: var(--primary-500);
	--button-outline-primary-border-active: var(--primary-430);
	--button-outline-primary-border-hover: var(--primary-500);
	--button-outline-primary-text: var(--white-500);
	--button-outline-primary-text-active: var(--white-500);
	--button-outline-primary-text-hover: var(--white-500);
	--button-positive-background: var(--green-430);
	--button-positive-background-active: var(--green-530);
	--button-positive-background-disabled: var(--green-430);
	--button-positive-background-hover: var(--green-500);
	--button-secondary-background: var(--bg-2);
	--button-secondary-background-active: var(--text-5);
	--button-secondary-background-disabled: var(--bg-2);
	--button-secondary-background-hover: var(--bg-1);
	--card-gradient-bg: hsl(var(--black-500-hsl) / 0.4);
	--card-gradient-pressed-bg: hsl(var(--black-500-hsl) / 0.5);
	--card-primary-bg: var(--primary-560);
	--card-primary-pressed-bg: var(--primary-645);
	--card-secondary-bg: var(--bg-3);
	--card-secondary-pressed-bg: var(--primary-645);
	--channel-icon: var(--text-4);
	--channel-text-area-placeholder: var(--text-5);
	--channels-default: var(--text-4);
	--channeltextarea-background: var(--bg-3);
	--chat-background: var(--primary-600);
	--chat-border: var(--primary-700);
	--chat-input-container-background: var(--primary-600);
	--chat-swipe-to-reply-background: var(--primary-660);
	--control-brand-foreground: var(--accent-2);
	--control-brand-foreground-new: var(--brand-360);
	--creator-revenue-icon-gradient-end: var(--teal-430);
	--creator-revenue-icon-gradient-start: var(--teal-360);
	--creator-revenue-info-box-background: hsl(var(--teal-430-hsl) / 0.1);
	--creator-revenue-info-box-border: var(--teal-400);
	--creator-revenue-locked-channel-icon: var(--teal-345);
	--creator-revenue-progress-bar: var(--teal-400);
	--deprecated-card-bg: var(--bg-3);
	--deprecated-card-editable-bg: hsl(var(--primary-700-hsl) / 0.3);
	--deprecated-quickswitcher-input-background: var(--primary-400);
	--deprecated-quickswitcher-input-placeholder: hsl(var(--white-500-hsl) / 0.3);
	--deprecated-store-bg: var(--primary-600);
	--deprecated-text-input-bg: var(--bg-3);
	--deprecated-text-input-border: hsl(var(--black-500-hsl) / 0.3);
	--deprecated-text-input-border-disabled: var(--primary-700);
	--deprecated-text-input-border-hover: var(--primary-900);
	--deprecated-text-input-prefix: var(--primary-200);
	--display-banner-overflow-background: hsl(var(--primary-700-hsl) / 0.5);
	--divider-strong: hsl(var(--white-500-hsl) / 0.16);
	--divider-subtle: hsl(var(--white-500-hsl) / 0.08);
	--focus-primary: var(--blue-345);
	--forum-post-extra-media-count-container-background: hsl(var(--primary-660-hsl) / 0.8);
	--forum-post-tag-background: hsl(var(--primary-660-hsl) / 0.9);
	--guild-notifications-bottom-sheet-pill-background: var(--primary-700);
	--header-muted: var(--text-4);
	--header-primary: var(--text-2);
	--header-secondary: var(--text-4);
	--home-background: var(--bg-4);
	--home-card-resting-border: hsl(var(--transparent-hsl) / 0);
	--icon-muted: var(--primary-400);
	--icon-primary: var(--primary-130);
	--icon-secondary: var(--primary-330);
	--info-box-background: hsl(var(--blue-345-hsl) / 0.1);
	--info-danger-background: hsl(var(--red-400-hsl) / 0.1);
	--info-danger-foreground: var(--red-400);
	--info-danger-text: var(--white-500);
	--info-help-background: hsl(var(--blue-345-hsl) / 0.1);
	--info-help-foreground: var(--blue-345);
	--info-help-text: var(--white-500);
	--info-positive-background: hsl(var(--green-360-hsl) / 0.1);
	--info-positive-foreground: var(--green-360);
	--info-positive-text: var(--white-500);
	--info-warning-background: hsl(var(--yellow-300-hsl) / 0.1);
	--info-warning-foreground: var(--yellow-300);
	--info-warning-text: var(--white-500);
	--input-background: var(--bg-3);
	--input-placeholder-text: var(--text-5);
	--interactive-active: var(--text-3);
	--interactive-hover: var(--text-3);
	--interactive-muted: var(--text-5);
	--interactive-normal: var(--text-4);
	--legacy-android-blur-overlay-default: hsl(var(--primary-660-hsl) / 0.5);
	--legacy-android-blur-overlay-ultra-thin: hsl(var(--black-500-hsl) / 0.025);
	--legacy-blur-fallback-default: hsl(var(--primary-660-hsl) / 0.975);
	--legacy-blur-fallback-ultra-thin: hsl(var(--black-500-hsl) / 0.95);
	--live-stage-tile-border: hsl(var(--primary-500-hsl) / 0.6);
	--logo-primary: var(--white-500);
	--mention-background: var(--mention);
	--mention-foreground: var(--accent-1);
	--modal-background: var(--bg-4);
	--modal-footer-background: var(--bg-4);
	--navigator-header-tint: var(--white-500);
	--polls-image-normal-border: hsl(var(--black-430-hsl) / 0.9);
	--polls-victor-border: var(--yellow-300);
	--polls-victor-fill: var(--mention);
	--polls-victor-label: var(--primary-600);
	--polls-voted-border: var(--green-330);
	--polls-voted-fill: var(--mention);
	--polls-voted-label: var(--primary-600);
	--profile-gradient-card-background: hsl(var(--black-500-hsl) / 0.7);
	--profile-gradient-message-input-border: hsl(var(--primary-500-hsl) / 0.48);
	--profile-gradient-note-background: hsl(var(--black-500-hsl) / 0.3);
	--profile-gradient-overlay: hsl(var(--black-500-hsl) / 0.6);
	--profile-gradient-overlay-synced-with-user-theme: hsl(var(--black-500-hsl) / 0.8);
	--profile-gradient-profile-body-background-hover: hsl(var(--white-500-hsl) / 0.16);
	--profile-gradient-role-pill-background: hsl(var(--primary-660-hsl) / 0.5);
	--profile-gradient-role-pill-border: hsl(var(--white-500-hsl) / 0.2);
	--profile-gradient-section-box: hsl(var(--black-500-hsl) / 0.45);
	--redesign-activity-card-background: var(--primary-560);
	--redesign-activity-card-background-pressed: var(--primary-630);
	--redesign-activity-card-badge-icon: var(--primary-360);
	--redesign-activity-card-border: hsl(var(--white-500-hsl) / 0.02);
	--redesign-activity-card-overflow-background: var(--primary-630);
	--redesign-button-danger-background: var(--red-430);
	--redesign-button-danger-pressed-background: var(--red-460);
	--redesign-button-danger-text: var(--white-500);
	--redesign-button-overlay-alpha-background: hsl(var(--black-500-hsl) / 0.54);
	--redesign-button-overlay-alpha-pressed-background: hsl(var(--black-500-hsl) / 0.64);
	--redesign-button-overlay-alpha-text: var(--white-500);
	--redesign-button-overlay-background: var(--white-500);
	--redesign-button-overlay-pressed-background: var(--primary-230);
	--redesign-button-overlay-text: var(--primary-860);
	--redesign-button-positive-background: var(--green-430);
	--redesign-button-positive-pressed-background: var(--green-460);
	--redesign-button-positive-text: var(--white-500);
	--redesign-button-primary-alt-background: hsl(var(--brand-500-hsl) / 0);
	--redesign-button-primary-alt-border: var(--brand-360);
	--redesign-button-primary-alt-on-blurple-background: hsl(var(--brand-530-hsl) / 0);
	--redesign-button-primary-alt-on-blurple-border: var(--white-500);
	--redesign-button-primary-alt-on-blurple-pressed-background: var(--brand-530);
	--redesign-button-primary-alt-on-blurple-pressed-border: var(--brand-360);
	--redesign-button-primary-alt-on-blurple-text: var(--white-500);
	--redesign-button-primary-alt-pressed-background: hsl(var(--brand-700-hsl) / 0.16);
	--redesign-button-primary-alt-pressed-border: hsl(var(--brand-400-hsl) / 0.5);
	--redesign-button-primary-alt-pressed-text: var(--brand-360);
	--redesign-button-primary-alt-text: var(--brand-360);
	--redesign-button-primary-background: var(--brand-500);
	--redesign-button-primary-on-blurple-background: var(--white-500);
	--redesign-button-primary-on-blurple-pressed-background: var(--brand-200);
	--redesign-button-primary-on-blurple-pressed-text: var(--brand-530);
	--redesign-button-primary-on-blurple-text: var(--brand-500);
	--redesign-button-primary-pressed-background: var(--brand-560);
	--redesign-button-primary-text: var(--white-500);
	--redesign-button-secondary-alt-background: var(--primary-660);
	--redesign-button-secondary-alt-pressed-background: var(--primary-560);
	--redesign-button-secondary-alt-pressed-text: var(--primary-330);
	--redesign-button-secondary-alt-text: var(--primary-230);
	--redesign-button-secondary-background: var(--primary-460);
	--redesign-button-secondary-border: hsl(var(--white-500-hsl) / 0.08);
	--redesign-button-secondary-pressed-background: var(--primary-500);
	--redesign-button-secondary-pressed-border: hsl(var(--transparent-hsl) / 0);
	--redesign-button-secondary-text: var(--primary-230);
	--redesign-channel-category-name-text: var(--primary-330);
	--redesign-channel-message-preview-text: var(--primary-360);
	--redesign-channel-name-muted-text: var(--primary-360);
	--redesign-channel-name-text: var(--primary-130);
	--redesign-chat-input-background: var(--primary-700);
	--redesign-input-control-active-bg: var(--primary-645);
	--redesign-input-control-selected: var(--brand-500);
	--redesign-only-background-active: var(--primary-530);
	--redesign-only-background-default: var(--primary-600);
	--redesign-only-background-overlay: var(--primary-645);
	--redesign-only-background-raised: var(--primary-630);
	--redesign-only-background-sunken: var(--primary-660);
	--scrollbar-auto-scrollbar-color-thumb: var(--primary-730);
	--scrollbar-auto-scrollbar-color-track: var(--primary-630);
	--scrollbar-auto-thumb: var(--bg-3);
	--scrollbar-auto-track: transparent;
	--scrollbar-thin-thumb: var(--bg-3);
	--scrollbar-thin-track: transparent;
	--spoiler-hidden-background: var(--primary-700);
	--spoiler-revealed-background: var(--primary-660);
	--status-danger: var(--red-400);
	--status-danger-background: var(--red-400);
	--status-danger-text: var(--text-0);
	--status-dnd: var(--red-400);
	--status-idle: var(--yellow-300);
	--status-offline: var(--primary-360);
	--status-online: var(--green-360);
	--status-positive: var(--green-360);
	--status-positive-background: var(--green-430);
	--status-positive-text: var(--text-0);
	--status-speaking: var(--green-360);
	--status-warning: var(--yellow-300);
	--status-warning-background: var(--yellow-300);
	--status-warning-text: var(--black-500);
	--text-brand: var(--accent-1);
	--text-danger: var(--red-345);
	--text-link: var(--accent-1);
	--text-link-low-saturation: var(--blue-330);
	--text-low-contrast: var(--primary-360);
	--text-message-preview-low-sat: var(--primary-360);
	--text-muted: var(--text-5);
	--text-muted-on-default: red;
	--text-normal: var(--text-3);
	--text-positive: var(--green-330);
	--text-primary: red;
	--text-secondary: var(--text-3);
	--text-warning: var(--yellow-300);
	--textbox-markdown-syntax: var(--primary-360);
	--theme-locked-blur-fallback: hsl(var(--primary-700-hsl) / 0.96);
	--user-profile-header-overflow-background: hsl(var(--primary-700-hsl) / 0.5);
	--voice-video-tile-blur-fallback: hsl(var(--primary-700-hsl) / 0.48);
	--voice-video-video-tile-blur-fallback: hsl(var(--primary-700-hsl) / 0.48);
	--white: var(--white-500);

	--profile-gradient-primary-color: var(--bg-4);
	--profile-gradient-secondary-color: var(--bg-4);

	--elevation-low: none;
	--search-popout-option-fade: none;
	--search-popout-option-fade-hover: none;

	--brand-260: var(--bg-1);
	--brand-430: var(--accent-3);
	--brand-500: var(--accent-3);
	--brand-530: var(--accent-4);
	--brand-560: var(--accent-4);
	--brand-600: var(--accent-5);

	--green-330: var(--accent-1);
	--green-360: var(--accent-3);
	--green-430: var(--accent-4);
	--green-500: var(--accent-4);
	--green-530: var(--accent-5);

	--brand-experiment-15a: var(--mention);
	--brand-360: var(--accent-2);

	--primary-500: var(--bg-2); 
	--primary-600: var(--bg-3); 
	--primary-630: var(--bg-3); 
	--primary-660: var(--bg-3); 

	--white-500: var(--text-1);
}

* {
	scrollbar-color: unset !important;
	scrollbar-width: unset !important;
}
